<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styleAdicionar.css}">
    <title>Adicionar Produto</title>
</head>
<body>
    <div class="container">
        <h1>Adicionar Novo Produto</h1>

        <form th:action="@{/adicionar}" th:object="${novoProduto}" method="post">
            <input type="text" th:field="*{nome}" placeholder="Nome do Produto" required/>
            <input type="number" th:field="*{preco}" placeholder="Preço (R$)" step="0.01" required/>
            <textarea th:field="*{descricao}" placeholder="Descrição do Produto"></textarea>
            <input type="number" th:field="*{estoque}" placeholder="Estoque" required/>
            
            <button type="submit">Salvar Produto</button>
        </form>

        <div class="containervoltar">
            <a th:href="@{/}">← Voltar à Lista de Produtos</a>
        </div>
    </div>
</body>
</html>
